# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
tmp/
out-tsc/
bazel-out/

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/

# Environment variables
.env

# Testing outputs
coverage/
test-results/

# Angular specific
.angular/
.angular/cache/
.angular/config.json

# Misc
.DS_Store
Thumbs.db
